.package-step {
  &__cat-title {
    font-weight: 700;
    margin-bottom: 1rem;
  }

  &__category {
    margin-bottom: 2rem;
  }

  &__total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid var(--event-color, #007185);
    padding-top: 0.75rem;
    margin-top: 1.5rem;
    font-size: 1.25rem;
  }
}
