TEST_BASE_URL=http://localhost:3000

ADMIN_EMAIL=
ADMIN_PASSWORD=

TEST_EMAIL=
TEST_PASSWORD=

COLLABORATOR_EMAIL=
COLLABORATOR_PASSWORD=

COLLABORATOR_VIEWER_EMAIL=
COLLABORATOR_VIEWER_PASSWORD=

CHECKER_EMAIL=
CHECKER_PASSWORD=
