@use '../../styles/Variables.scss' as *;

.form__success__waiting {
  color: $teal-blue;
  margin-bottom: 2rem;
}

.waiting-for-camp-buttons__verify-button {
  display: flex;
  justify-content: center;
}
