@use '../../../styles/Variables.scss' as *;

.icon-preview {
  align-items: center;
  background: $background-gray;
  border: 1px solid $alternate-gray;
  border-radius: 0.375rem;
  display: flex;
  justify-content: center;
  height: 2.375rem;
  width: 2.375rem;
}

.homeinfo-custom-accordion {
  .accordion-button:not(.collapsed) {
    svg {
      fill: #fff !important;
    }
  }
}

.ck-editor__editable {
  min-height: 150px;
}
