@use '../../../styles/Variables.scss' as *;

.lots-toolbar {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.lot-range-date {
  margin-right: 0.5rem;
}
