@use '../../styles/Variables.scss' as *;

.checkbox-error {
  input {
    border-color: $danger;
  }

  label {
    color: $danger;
  }
}

.checkbox-label {
  user-select: none;
}

.text-success-custom {
  color: $olive !important;
}
