@use '../../styles/Variables.scss' as *;

.swiper {
  img {
    display: block;
    height: 100%;
    margin: auto;
    max-height: 100px;
    object-fit: contain;
    width: 100%;
  }

  &-wrapper {
    transition-timing-function: linear !important;
  }

  &-slide {
    height: auto !important;
  }
}
