@use '../../styles/Variables.scss' as *;

.form__footer {
  align-items: center;
  border-top: 1px solid $alternate-light-gray;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem 2rem;

  @media (max-width: $md) {
    justify-content: center;
    padding: 1rem;
    text-align: center;
  }

  &__admin {
    cursor: pointer;
    flex-shrink: 0;
  }

  &-logo {
    cursor: pointer;
    height: 3.5rem;
  }

  &__credits {
    color: $alternate-dark-gray;
  }

  &__powered {
    font-size: 0.9rem;
    margin: 0 0 0.15rem;

    .mail-to {
      color: $dark-gray;
      font-weight: 600;
      text-decoration: none;

      &:hover {
        color: $primary;
      }
    }

    @media (max-width: $sm) {
      font-size: 0.8rem;
    }
  }

  &__copyright {
    font-size: 0.8rem;
    font-style: italic;
    margin: 0;
  }
}
