@import './Variables.scss';

body {
  background: $background;
}

.bbp {
  &-wrapper {
    h1 {
      margin-bottom: 2rem;
    }

    label {
      font-weight: bold;
    }

    p {
      small {
        font-size: 0.625rem;
        font-weight: bold;
      }
    }

    a:not(.form-success__button){
      color: $white;
      text-decoration: none;
    }

    input:not([type='radio']),
    textarea,
    select {
      background-color: $light-gray;
      border-radius: 0.5rem;
      padding: 0.5rem;
      width: 100%;
    }

    input[type='radio'] {
      width: 1rem;
    }

    .bbp-header {
      background-color: $primary;
      color: $white;
      padding: 3rem 1.875rem 5rem;
      text-align: center;

      h2 {
        font-weight: bold;
      }

      nav {
        ol {
          cursor: pointer;
          display: flex;
          gap: 1rem;
          justify-content: center;
          list-style-type: none;
          padding: 0;

          li {
            &:hover,
            &.active {
              color: $secondary;
            }

            &:hover {
              opacity: 0.8;
            }

            &.active {
              font-weight: bold;
            }
          }
        }
      }
    }

    .bbp-container {
      display: grid;
      margin: 0 auto;
      max-width: 900px;
      height: 610px;
      padding: 0rem 1rem 1rem 1rem;

      .bbp {
        &-forms {
          border: 0.125rem solid $light-gray;
          border-radius: 1.5rem;
          min-width: 350px;
          padding: 3rem;
          transform: translateY(-8%);

          .bbp-radio-group {
            small {
              display: block;
            }

            .bbp-radio-options {
              display: flex;
              gap: 1rem;
              margin-top: 0.625rem;

              label {
                cursor: pointer;
                display: flex;
              }
            }
          }

          .bbp-counter {
            p {
              color: $white;
            }
          }

          .bbp-button {
            position: absolute;
            bottom: 0;
            left: 0;
            display: flex;
            padding: 3.5rem 3rem;

            &:last-child {
              justify-content: end;
            }

            .bbp-btn {
              &-submit,
              &-return {
                border: none;
                border-radius: 1rem;
                color: $black;
                cursor: pointer;
                font-weight: bold;
                padding: 1rem 2.25rem;

                &:hover {
                  opacity: 0.9;
                }
              }

              &-submit {
                background-color: $secondary;
              }

              &-return {
                background-color: $medium-gray;
              }
            }
          }

          svg.bbp-icon-arrow-left {
            transform: translate(-10px, -1px);
          }

          svg.bbp-icon-arrow-right {
            transform: translate(10px, -1px);
          }
        }

        &-forms#form-home,
        &-forms#form-personal-data,
        &-forms#form-contact,
        &-forms#form-packages,
        &-forms#form-payment {
          background: linear-gradient(to bottom, $white 77%, $primary 0%);
        }
      }

      .bbp-success-message {
        align-items: center;
        background-color: $form-sent-success;
        border-radius: 4px;
        color: $primary;
        display: grid;
        height: 50%;
        margin: 20px auto;
        padding: 20px;
        text-align: center;

        h3 {
          word-break: break-word;
          margin-top: 0;
        }

        p {
          margin-bottom: 0;
        }
      }
    }

    #havePackages {
      height: 750px;
    }

    .bbp-footer-logo {
      height: 6.25rem;
    }

    .bbp-copyright {
      align-items: end;
      display: flex;
      justify-self: center;
      margin: 0;
    }
  }
}

.form {
  &-container {
    max-width: 800px;
    margin-inline: auto;
    margin-top: -40px;

    .bbp-general-height {
      min-height: 650px;
    }

    .pointer {
      cursor: pointer;
      position: relative; /* Necessário para o efeito de zoom */
      display: inline-block;
      overflow: hidden;

      div {
        transition:
          transform 0.5s,
          background-color 0.5s; /* Adiciona uma transição suave */

        &:hover {
          transform: scale(1.03); /* Aumenta o tamanho da imagem em 10% */
          background-color: transparent; /* Altera a cor de fundo quando hover */
        }
      }
    }

    .card {
      height: fit-content;

      .card-title {
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 20px;
      }

      .card-text {
        color: #7f7f7f;
        margin-top: -6px;
        font-size: 16px;

        span {
          color: $black;
          font-weight: bold;
        }
      }

      .card-body {
        padding: 1.875rem;

        textarea {
          resize: none;
          height: 6.25rem;
        }
      }
    }

    button.accordion-button:not(.collapsed) {
      color: $primary;
      font-weight: bold;
    }

    .card-is-active {
      background-color: $inner-card-hover;
    }

    .react-datepicker-wrapper,
    .cpf-container {
      width: 100%;
      margin-bottom: 1em;

      @media (min-width: $md) {
        width: unset;
        margin-bottom: unset;
      }
    }

    .cellphone-container {
      > div {
        margin-bottom: 1em;
      }

      @media (min-width: $md) {
        > div {
          margin-bottom: 0;
        }
      }
    }

    .allergy-container {
      > div:first-child {
        margin-bottom: 1em;
      }

      @media (min-width: $md) {
        > div:first-child {
          margin-bottom: 0;
        }
      }
    }

    .package-container {
      display: flex;
      flex-direction: column;
      border-radius: 60px;
      transition: box-shadow 0.3s;

      &-body {
        background-color: #535a71;
        color: #fff;
        padding: 10px;
        display: flex;
        flex: auto;
        flex-direction: column;
        width: 100%;

        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
      }

      &-title {
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 10px;
      }

      &-button-container {
        flex: 1;
        display: flex;
        flex-direction: column-reverse;
      }

      button {
        width: 100%;
      }

      img {
        width: 100%;
        height: 150px;
        flex: auto;

        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
      }

      @media (min-width: $md) {
        flex-direction: row;

        img {
          flex: 0 0 40%;
          width: 260px;
          height: 160px;
          border-top-left-radius: 6px;
          border-top-right-radius: unset;
          border-bottom-left-radius: 6px;
        }

        &-body {
          flex: 0 0 60%;
          border-top-right-radius: 6px;
          border-bottom-right-radius: 6px;
          border-bottom-left-radius: unset;
          height: 160px;
        }
      }
    }

    .package-container + .package-container {
      margin-top: 20px;
    }
  }

  &-footer-container {
    align-items: center;
    background-color: $primary;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    display: flex;
    height: 100px;
    justify-content: space-between;
    padding-inline: 20px;

    button {
      width: 130px;
    }

    @media (min-width: $md) {
      padding-inline: 30px;

      button {
        width: 200px;
      }
    }
  }
}

.horizontal-line {
  border: none;
  height: 2px;
  background-color: $primary;
  margin: 30px 0;
}

.form-success {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__title {
    font-size: 24px;
    font-weight: bold;
    color: #28a745;
    margin-bottom: 20px;
  }

  &__message {
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
  }

  &__contact {
    font-weight: bold;
  }

  &__button {
    margin-top: 20px;
  }
}