@import './Variables.scss';

// Body Styles
body {
  background: $light-gray;
}

// Form Styles
.form {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  @media (max-width: $lg) {
    display: block;
  }

  // Form Header Styles
  &__header {
    background-color: $primary;
    color: $white;
    padding: 1.25rem 1.875rem 3rem;
    text-align: center;

    &--future-step {
      cursor: default;

      a {
        cursor: default;
      }
    }

    &--previous-step a {
      color: $secondary !important;
    }

    h2 {
      font-weight: bold;
    }

    nav {
      ol {
        display: flex;
        gap: 0.5rem;
        justify-content: center;
        list-style-type: none;
        padding: 0;

        li {
          &:hover,
          &.active {
            color: $secondary;
          }

          &:hover {
            opacity: 0.8;
          }

          &.active {
            font-weight: bold;
          }

          &:before {
            display: none;
          }
        }
      }
    }
  }

  // Form Footer Styles
  &__footer {
    &-logo {
      cursor: pointer;
      height: 6.25rem;
    }

    &__powered {
      @media (max-width: $md) {
        font-size: 0.875rem;
      }

      @media (max-width: $sm) {
        display: flex;
        flex-direction: column;

        span {
          display: none;
        }
      }
    }

    &__copyright {
      align-items: end;
      display: flex;
      justify-self: center;
      margin: 0;

      @media (max-width: $md) {
        font-size: 0.875rem;
      }
    }
  }

  // Form Container Styles
  &__container {
    flex: 1 1 auto;
    max-width: 50rem;
    margin-inline: auto;
    margin-top: -2.5rem;

    &__general-height {
      min-height: 41.625rem;
      width: 50rem;

      @media (max-width: $lg) {
        width: 100%;
      }
    }

    &-pointer {
      cursor: pointer;
      display: inline-block;
      overflow: hidden;
      position: relative;
      transition:
        transform 0.5s,
        background-color 0.5s;

      &:hover {
        background-color: transparent;
        transform: scale(1.04);
      }
    }

    // Form Success Styles
    &__success {
      display: flex;
      flex-direction: column;
      justify-content: center;

      &__title {
        color: $dark-green;
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 1.25rem;
      }

      &__message {
        font-size: 1.125rem;
        margin-bottom: 1.25rem;
        text-align: center;
      }

      &__contact {
        font-weight: bold;
      }

      &__button {
        margin-top: 1.25rem;
      }
    }

    // Card Styles
    .card {
      height: fit-content;

      .card-title {
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 1.25rem;
      }

      .info-text-wrapper {
        .card-text {
          color: $dark-green;
        }
      }

      .card-text {
        color: $dark-gray;
        font-size: 1rem;
        margin-top: -0.375rem;

        span {
          color: $black;
          font-weight: bold;
        }

        p {
          @media (max-width: $md) {
            font-size: 0.875rem;
          }
        }
      }

      .card-text.discount-coupon {
        color: $dark-green;
        display: flex;
        font-style: italic;
        justify-content: center;
        margin-top: 0.25rem;
      }

      .card-body {
        padding: 1.875rem;

        @media (max-width: $sm) {
          padding: 1rem 0.75rem;
        }

        textarea {
          height: 6.25rem;
          resize: none;
        }

        .card-wrapper {
          p {
            margin: 0;
          }
        }
      }
    }

    .accordion-body {
      .card-body {
        .package-description-container {
          display: flex;
          align-items: center;
          gap: 0rem;

          @media (min-width: $md) {
            gap: 0.625rem;
          }

          @media (max-width: $md) {
            flex-wrap: wrap;
          }

          span {
            min-width: 8rem;
          }
        }

        .package-available {
          align-items: end;
          display: flex;
          flex-direction: column;
        }

        .price-with-discount {
          color: red;
          font-style: italic;
          text-decoration: line-through;
        }
      }
    }

    .card-is-active {
      background-color: $turquoise;
    }

    .react-datepicker-wrapper,
    .cpf-container {
      width: 100%;
    }

    .cellphone-container {
      > div {
        margin-bottom: 1em;
      }

      @media (min-width: $md) {
        > div {
          margin-bottom: 0;
        }
      }
    }

    .allergy-container {
      > div:first-child {
        margin-bottom: 1em;
      }

      @media (min-width: $md) {
        > div:first-child {
          margin-bottom: 0;
        }
      }
    }

    .selected-icon-container {
      display: flex;
      flex-direction: row-reverse;

      svg {
        @media (max-width: $md) {
          height: 2.25rem;
        }
      }
    }

    // Button Styles
    &__buttons {
      align-items: center;
      background-color: $primary;
      border-bottom-left-radius: 0.375rem;
      border-bottom-right-radius: 0.375rem;
      display: flex;
      height: 6.25rem;
      justify-content: space-between;
      padding-inline: 1.25rem;

      button {
        width: 8.125rem;
      }

      .btn-warning {
        &:disabled {
          cursor: not-allowed;
          pointer-events: all;
        }
      }

      @media (min-width: $md) {
        padding-inline: 1.875rem;

        button {
          width: 12.5rem;
        }
      }
    }
  }

  &__success {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__title {
      color: $dark-green;
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 1.25rem;
    }

    &__message {
      font-size: 1.125rem;
      margin-bottom: 1.25rem;
      text-align: center;
    }

    &__contact {
      font-weight: bold;
    }

    &__button {
      margin-top: 1.25rem;
    }
  }
}

// Admin Styles
.admin {
  .input-login-wrapper {
    position: relative;
  }

  &__user,
  &__password {
    border-color: $primary;
    color: $primary;
    font-weight: bold;

    &::placeholder {
      color: $primary;
      font-weight: normal;
    }
  }

  .login-icon {
    padding: 0.25rem;
    position: absolute;
    right: 0;
    transform: translate(-0.625rem, -2.1875rem);
  }

  .input-login-btn-wrapper {
    button {
      background-color: $primary;
      border-color: $primary;
    }
  }
}

// Style utility classes
input,
textarea,
select {
  background-color: $light-gray;
  border-radius: 0.5rem;
  padding: 0.5rem;
  width: 100%;
}

.mail-to {
  color: inherit;
  text-decoration: none;
}

a:not(.form-success__button, .mail-to) {
  color: $white;
  text-decoration: none;
}

.horizontal-line {
  background-color: $primary;
  border: none;
  height: 0.125rem;
  margin: 0.75rem 0;
}

.packages-horizontal-line {
  background-color: $medium-gray;
  border: none;
  height: 0.125rem;
  margin: 1rem 0;
}

.msg-error {
  border-color: $red;
}

.checkbox-error {
  input {
    border-color: $red;
  }

  label {
    color: $red;
  }
}

.checkbox-label {
  user-select: none;
}

button.accordion-button:not(.collapsed) {
  color: $primary;
  font-weight: bold;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.spinner-container {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  justify-content: center;

  .spinner-border {
    color: $secondary;
  }
}

::selection {
  background-color: $light-yellow;
}

.components-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.scroll-to-top {
  align-items: center;
  background-color: $light-yellow;
  border-radius: 50%;
  bottom: 1.25rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 1);
  cursor: pointer;
  display: flex;
  font-size: 1.5rem;
  height: 5rem;
  justify-content: center;
  opacity: 0.6;
  position: fixed;
  right: 1.25rem;
  width: 5rem;
  z-index: 1000;

  @media (max-width: $md) {
    height: 2.5rem;
    width: 2.5rem;
  }
}

.card-disabled {
  cursor: not-allowed;

  &:hover {
    transform: none;

    .no-vacancy {
      transform: scale(1.04);
    }
  }
}

.bg-dark.card {
  color: $white;
}

.date-enphasis {
  color: $primary;
  font-weight: bold;
}

.registration-closed-message {
  font-weight: bold;
  margin-top: 12.5rem;
  text-align: center;
}

.login-admin-card {
  background: $medium-gray;
  border-radius: 3.125rem 0rem;
  padding: 3.125rem 1.875rem;
  box-shadow: 0.5625rem 0.5625rem 0.625rem rgb(0 0 0 / 21%);
  width: 25rem;
}

.closed-admin {
  .input-login-wrapper {
    position: relative;
  }

  .login-icon {
    padding: 0.25rem;
    position: absolute;
    right: 0;
    transform: translate(-0.625rem, -2.1875rem);
  }
}

.qr-code-image {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 220px;
  justify-content: center;

  img {
    height: 100%;
  }

  @media (max-width: $sm) {
    height: 200px;
  }
}

.initial-wrapper {
  min-height: 200px;

  &__btn {
    min-width: 240px;
  }
}

.fix-positioning {
  margin-bottom: -32px;

  @media (max-width: $sm) {
    margin-bottom: -16px;
  }

  @media (min-width: $lg) {
    margin-left: -52px;
    margin-bottom: -32px;
  }

  @media (min-width: $xl) {
    margin-left: -43px;
    margin-bottom: -32px;
  }
}

.choose-way-info-text {
  &--normal {
    font-size: 1.25rem;
    font-weight: bold;
  }

  &--danger {
    color: $red;
    font-size: 1rem;
    font-weight: bold;
    font-style: italic;
  }

  @media (max-width: $md) {
    &--normal {
      font-size: 1rem;
    }

    &--danger {
      font-size: 0.875rem;
    }
  }
}

.row-gap {
  @media (max-width: $md) {
    gap: 0.5rem;
  }
}

.form-review {
  &__section-title {
    color: $primary !important;
  }

  input {
    width: auto;
  }
}

.form-success__button {
  @media (max-width: $md) {
    width: 10.9375rem !important;
  }
}

.form-control:focus {
  color: $primary !important;
}

.form-control-bg:focus {
  color: $primary !important;
  font-weight: bold;

  &::placeholder {
    font-weight: normal;
  }
}

.btn-wrapper {
  display: flex;
  gap: 1rem;
  justify-content: center;

  a {
    align-items: center;
    display: flex;

    &:hover {
      color: $primary;
    }
  }
}

.btn.btn-outline-success,
.btn.btn-outline-danger {
  border-width: 3px !important;
}

.filter-btn {
  background-color: $alternate-dark-gray;
  border-color: $alternate-dark-gray;

  &:hover {
    background-color: $dark-gray;
    border-color: $dark-gray;
  }
}

button.btn.btn-outline-danger:hover svg {
  fill: #fff;
}

.sort-icon,
.sort-icon-wrapper {
  user-select: none;
}

.filter-icon {
  margin: 0.5rem;
  position: absolute;
  right: 0;
}

.filter-input {
  padding: 0.5rem 2.25rem 0.5rem 0.5rem !important;
}

.actived-filter {
  background-color: $turquoise !important;
}

.scroll-to-top:hover {
  opacity: 1;
}

// Admin table styles
.table-hover > tbody > tr:hover > * {
  --bs-table-bg-state: #b2dfb2;
}

.table-cells-header {
  background-color: $medium-green !important;
  min-width: 250px;

  div .sort-icon {
    display: none;
  }

  &:hover div .sort-icon {
    display: block;
  }
}

.custom-table {
  --bs-border-color: #000;
}

.table-striped > tbody > tr:nth-of-type(odd) > * {
  --bs-table-bg-type: rgba(var(--bs-emphasis-color-rgb), 0.1);
}

.table > tbody > tr > td.selected-row {
  background-color: $light-green;
}

.table-checkbox .form-check-input {
  width: auto;
}

.form-check-input:checked {
  background-color: $dark-green;
  border-color: $dark-green;
}

.table-tools {
  &__left-buttons,
  &__left-buttons-ride,
  &__right-buttons-ride {
    @media (max-width: $md) {
      button {
        justify-content: center;
      }
    }

    @media (max-width: $xxxl) {
      flex-direction: column;
    }
  }

  &__right-buttons,
  &__right-buttons-ride {
    display: flex;
    justify-content: end;

    @media (max-width: $xxxl) {
      flex-direction: column;
    }
  }

  &__left-buttons,
  &__right-buttons,
  &__right-buttons-right {
    @media (max-width: $md) {
      display: grid !important;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__right-buttons-ride {
    b {
      @media (min-width: $md) {
        display: none;
      }
    }
  }

  &__button-name {
    @media (max-width: $xxxl) {
      width: 100%;
    }

    @media (max-width: $md) {
      display: none;
    }
  }
}

.text-success-custom {
  color: $dark-green;
}

.custom-new-registration::placeholder {
  opacity: 0.5;
}

.admin-field {
  &--odd {
    background-color: $intense-green-light;
  }

  &--even {
    background-color: $light-green;
  }
}

.form-check-input {
  border: 1px solid $black;
  box-shadow:
    2px 6px 8px rgba(0, 0, 0, 0.2),
    0 2px 8px rgba(0, 0, 0, 0.1);
}

.choose-form-payment-custom-padding {
  padding: 1.875rem !important;
}
