// Colors
$primary: #535971;
$secondary: #ffdb58;
$form-sent-success: #ffdb58;
$fail: #c92432;
$fail-background: #ffcccc;
$white: #fff;
$black: #000;
$background: #f3f3f3;
$light-gray: #f3f3f3;
$medium-gray: #ced4da;

// Screen size
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 1024px;
$xl: 1500px;
