// Colors
$primary: #204691;
$secondary: #ffc107;
$form-sent-success: #ffdb58;
$fail: #c92432;
$fail-background: #ffcccc;
$inner-card-hover: #cfe2ff;
$title-success: #65a300;
$card-text: #555050;
$white: #fff;
$black: #000;
$background: #f3f3f3;
$light-gray: #f3f3f3;
$medium-gray: #ced4da;

// Screen size
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 815px;
$xl: 1024px;
