// Colors
$primary: #007185;
$secondary: #ffc107;
$light-yellow: #ffdb58;
$light-orange: #F5B895;
$red: #dc3545;
$medium-red: #d32f2f;
$light-red: #ffcccc;
$turquoise: #cfe2ff;
$teal-blue: #007185;
$blue: #204691;
$medium-blue: #0066cc;
$light-medium-blue: #155a9b;
$baby-blue: #3498db;
$light-heavy-blue: #2E5AAC;
$alternate-blue: #89A7E0;
$light-blue: #f0f9ff;
$heavy-baby-blue: #e0f7fa;
$minimum-blue: #EEF2FA;
$green: #4caf50;
$dark-green: #65a300;
$medium-green: #89c96e;
$light-green: #b2dfb2;
$minimum-green: #dce8dc;
$pastel-green: #e6f0e6;
$intense-green: #49bd72;
$intense-medium-green: #5fa75f;
$intense-green-light: #79c879;
$militar-green: #057c05;
$slime-green: #0c9183;
$brown: #994c00;
$medium-brown: #cc6d00;
$orange: #FF7F50;
$light-brown: #fffbf0;
$black: #000;
$white: #fff;
$dark-gray: #555050;
$alternate-dark-gray: #7f7878;
$alternate-gray: #dee2e6;
$medium-gray: #ced4da;
$light-gray: #f3f3f3;

// Screen size
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 815px;
$xl: 992px;
$xxl: 1024px;
$xxxl: 1200px;
$xxxxl: 1400px;