@use '../../styles/Variables.scss' as *;

.info-home {
  &-text {
    @media (max-width: $md) {
      font-size: 1rem;
    }
  }

  &-enphasis {
    color: $primary;
    font-weight: bold;
  }

  &-list {
    list-style-type: none;
    padding-left: 0;
  }
}
