@use '../../../styles/Variables.scss' as *;

.seat-total-field {
  padding: 1rem 0;
}

@media (min-width: $sm) {
  .seat-total-field {
    background: $background-gray;
    border: 1px solid $alternate-light-gray;
    border-radius: 12px;
    margin-bottom: 1.25rem;
    padding: 1rem;
  }
}

.seat-packages-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);

  @media (max-width: $sm) {
    grid-template-columns: 1fr;
  }
}
