@use '../../styles/Variables.scss' as *;

.summary {
  &-individual-base,
  &-total-package,
  &-discount,
  &-total-geral {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  &-discount-value {
    color: $green;
  }

  h5 {
    @media (min-width: $xxxl) and (max-width: $xxxxl) {
      font-size: 1rem;
    }
  }
}
