@import '../../styles/Variables.scss';

.closed-admin {
  .input-login-wrapper {
    position: relative;
  }

  .login-icon {
    padding: 0.25rem;
    position: absolute;
    right: 0;
    transform: translate(-0.625rem, -2.1875rem);
  }
}
