@use '../../../styles/Variables.scss' as *;

.form-label:not(.form-label-admin) {
  color: $slime-green !important;
}

.emphasize-checkin-username {
  font-size: 1.5rem;
}

.checkin-color-status-wrapper {
  display: flex;
  gap: 1rem;
  justify-content: center;

  &__line {
    border-bottom: 1px solid $black;
    border-top: 2px solid $black;
    height: 2.5rem;
  }

  &__label {
    color: $slime-green;
    font-weight: bold;
    padding-left: 1rem;
  }
}

.cpf-suggestions {
  background: $white;
  border: 1px solid $border-gray;
  border-top: none;
  max-height: 12.5rem;
  overflow-y: auto;
  width: 100%;
  z-index: 10;
}

.cpf-suggestion-item {
  border-bottom: 1px solid $border-gray;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 10px;

  &:hover {
    background-color: $hover-gray;
  }
}
