@import '../../../styles/Variables.scss';

.form-label:not(.form-label-admin) {
  color: $slime-green !important;
}

.emphasize-checkin-username {
  font-size: 1.5rem;
}

.checkin-color-status-wrapper {
  display: flex;
  gap: 2rem;
  justify-content: center;

  &__line {
    border-bottom: 1px solid $black;
    border-top: 2px solid $black;
    height: 2.5rem;
  }
}
